@font-face { .load-font('NinaCTT Normal', 'fonts/NinaCTT-Normal/NinaCTT-Normal') }
@font-face { .load-font('Impact Regular', 'fonts/Impact-Regular/Impact-Regular') }
@font-face { .load-font('IcoMoon', 'fonts/IcoMoon/IcoMoon') }

[class^="icon-"], [class*=" icon-"] {
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\e606";
}
.icon-cart2:before {
    content: "\e607";
}
.icon-images:before {
    content: "\e600";
}
.icon-cart3:before {
    content: "\e601";
}
.icon-phone:before {
    content: "\e602";
}
.icon-envelope:before {
    content: "\e603";
}
.icon-spinner:before {
    content: "\e604";
}
.icon-phone2:before {
    content: "\e608";
}
.icon-cart4:before {
    content: "\e609";
}
.icon-book:before {
    content: "\e60a";
}
.icon-gift:before {
    content: "\e60b";
}
.icon-phone3:before {
    content: "\e60c";
}
.icon-washingmachine:before {
    content: "\e60d";
}
.icon-cube:before {
    content: "\e60e";
}
.icon-box:before {
    content: "\e60f";
}
.icon-box2:before {
    content: "\e610";
}
.icon-abacus:before {
    content: "\e611";
}
.icon-check:before {
    content: "\f00c";
}
.icon-times:before {
    content: "\f00d";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-gift2:before {
    content: "\f06b";
}
.icon-paw:before {
    content: "\f1b0";
}
.icon-cart22:before {
    content: "\e605";
}
