/* --------- mixins 		--------- */
/* MIXINS */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- font-faces		--------- */
@font-face {
  font-family: "NinaCTT Normal";
  src: url("fonts/NinaCTT-Normal/NinaCTT-Normal.eot");
  src: url("fonts/NinaCTT-Normal/NinaCTT-Normal.eot?#iefix") format("embedded-opentype"), url("fonts/NinaCTT-Normal/NinaCTT-Normal.woff") format("woff"), url("fonts/NinaCTT-Normal/NinaCTT-Normal.ttf") format("truetype"), url("fonts/NinaCTT-Normal/NinaCTT-Normal.svg#NinaCTT Normal") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Impact Regular";
  src: url("fonts/Impact-Regular/Impact-Regular.eot");
  src: url("fonts/Impact-Regular/Impact-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Impact-Regular/Impact-Regular.woff") format("woff"), url("fonts/Impact-Regular/Impact-Regular.ttf") format("truetype"), url("fonts/Impact-Regular/Impact-Regular.svg#Impact Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IcoMoon";
  src: url("fonts/IcoMoon/IcoMoon.eot");
  src: url("fonts/IcoMoon/IcoMoon.eot?#iefix") format("embedded-opentype"), url("fonts/IcoMoon/IcoMoon.woff") format("woff"), url("fonts/IcoMoon/IcoMoon.ttf") format("truetype"), url("fonts/IcoMoon/IcoMoon.svg#IcoMoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'IcoMoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
  content: "\e606";
}
.icon-cart2:before {
  content: "\e607";
}
.icon-images:before {
  content: "\e600";
}
.icon-cart3:before {
  content: "\e601";
}
.icon-phone:before {
  content: "\e602";
}
.icon-envelope:before {
  content: "\e603";
}
.icon-spinner:before {
  content: "\e604";
}
.icon-phone2:before {
  content: "\e608";
}
.icon-cart4:before {
  content: "\e609";
}
.icon-book:before {
  content: "\e60a";
}
.icon-gift:before {
  content: "\e60b";
}
.icon-phone3:before {
  content: "\e60c";
}
.icon-washingmachine:before {
  content: "\e60d";
}
.icon-cube:before {
  content: "\e60e";
}
.icon-box:before {
  content: "\e60f";
}
.icon-box2:before {
  content: "\e610";
}
.icon-abacus:before {
  content: "\e611";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-gift2:before {
  content: "\f06b";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-cart22:before {
  content: "\e605";
}
/* --------- adjustments --------- */
/* --------- common styles --------- */
body {
  background: url('../img/carton-bg.png') repeat;
}
.section__header {
  padding: 50px 0 20px 0;
  font: normal normal normal 32px 'Impact Regular', sans-serif;
  color: #3a2315;
}
.btn {
  outline: none !important;
}
.strong,
.highlight {
  font-weight: bold;
  font-size: 18px;
}
.strong {
  text-transform: uppercase;
  color: #d9534f;
}
.highlight {
  color: #f0ad4e;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  left: 0;
  list-style: none;
}
/* --------- popups styles --------- */
#popups__contaier .popup__wrapper {
  position: relative;
  display: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#popups__contaier .popup__wrapper.visible_popup {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 10000;
}
#popups__contaier .popup__wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
  margin-right: -0.25em;
  opacity: 0;
}
#popups__contaier .popup__wrapper .popup {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  background-color: #ffffff;
  vertical-align: middle;
  width: 651px;
  padding: 50px 25px;
}
#popups__contaier .popup__wrapper .popup .form-group {
  float: left;
}
#popups__contaier .popup__wrapper .popup label {
  float: left;
  padding-right: 10px;
  font-size: 18px;
  color: #7f7f7f;
  line-height: 54px;
}
#popups__contaier .popup__wrapper .popup .form__field {
  clear: both;
  text-align: right;
  line-height: 25px;
  margin: 10px;
}
#popups__contaier .popup__wrapper .popup .form__input {
  width: 377px;
  height: 51px;
  outline: none;
  margin: 0 10px;
  padding-left: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.14);
}
#popups__contaier .popup__wrapper .popup h2 {
  font-size: 29px;
  color: #541b1a;
}
/* --------- cssdropdown styles --------- */
/* Drop-down */
.cssdropdown {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin: 0;
  border: 1px solid #cbbeb9;
  box-shadow: 0 1px 1px #f1efee;
  background-color: #fff;
  position: relative;
}
.cssdropdown a,
.cssdropdown__label {
  padding: 5px;
  margin: 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.cssdropdown__input {
  position: absolute;
  opacity: 0;
  left: -9999px;
}
.cssdropdown__input:checked ~ .cssdropdown__list-wrapper {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
/* Droddown list */
.cssdropdown__list-wrapper {
  margin: 0;
  min-width: 300px;
  padding: 0;
  display: none;
  position: absolute;
  top: 20px;
  left: -1px;
  z-index: 99999;
}
.cssdropdown__list {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: solid 1px #c7c3c3;
}
.cssdropdown__list-item {
  margin: 0;
  padding: 5px;
  display: block;
  border-bottom: solid 1px #ddd8d7;
}
.cssdropdown__list-item:last-child {
  border-bottom: none;
}
.cssdropdown:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* --------- section styles --------- */
.js-page-scroll .wrapper {
  width: 100%;
  overflow: hidden;
}
.js-page-scroll .maincontent {
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.navbar__header {
  width: 100%;
}
.navbar-brand {
  font-family: 'Impact Regular', impact, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}
@media (min-width: 340px) {
  .navbar-brand {
    font-size: 32px;
  }
}
.navbar-brand__first {
  color: #f0ad4e;
  /* TODO LESS: @brand-primary */
}
.navbar-brand__second {
  color: #428bca;
  /* TODO LESS: @brand-primary */
}
.navbar-brand__last {
  color: #ffffff;
}
.navbar__header-button {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 3px 0 3px;
}
.navbar__header-button .button-text,
.navbar__header-button .button-icon {
  color: #ffffff;
  font-size: 26px;
  line-height: 26px;
}
.navbar__header-button .button-cart-count {
  color: #ffffff;
  position: absolute;
  left: 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d9534f;
  font-size: 15px;
  font-weight: bold;
  top: -9px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  z-index: -1;
}
.navbar__header-button:focus {
  outline: 0;
}
.jumbotron {
  border: none;
  margin-bottom: 0;
  background: #ffffff url('../img/jumbotron/jumbotron-bg.png') repeat;
}
/* Jumbotron slogan */
.jumbotron-slogan {
  position: relative;
}
.jumbotron button {
  border-radius: 0;
}
.jumbotron-slogan h1 {
  font-family: 'Impact Regular', sans-serif;
  font-size: 42px;
  line-height: 42px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #2d6ca2;
  text-transform: uppercase;
}
.jumbotron-slogan h2 {
  display: none;
  position: absolute;
  right: 0;
  width: 180px;
  font-family: 'NinaCTT Normal', 'Impact Regular', sans-serif;
  font-size: 15px;
  color: #2d6ca2;
  z-index: 0;
}
/* Jumbotron slider */
.jumbotron-slider__topline {
  background-color: #ffffff;
  z-index: 100;
}
.jumbotron-slider__topline:before {
  content: "";
  background-color: #ffffff;
  background: #ffffff url('../img/jumbotron/jumbotron-bg.png') 0 170px repeat;
  position: absolute;
  width: 100%;
  margin-left: -50%;
  min-height: 20%;
  z-index: -1;
}
/* Media queries */
@media (min-width: 340px) {
  .jumbotron-slogan {
    font-size: 32px;
  }
}
@media (min-width: 630px) {
  .jumbotron-slogan h2 {
    display: block;
    right: -25px;
  }
  .jumbotron-slider__topline:before {
    min-height: 25%;
  }
}
@media (min-width: 768px) {
  .jumbotron-slogan h1 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 30px;
  }
  .jumbotron-slogan h2 {
    right: 10px;
    font-size: 16px;
  }
  .jumbotron-slider__topline:before {
    min-height: 30%;
  }
}
@media (min-width: 992px) {
  .jumbotron-slogan h1 {
    font-size: 55px;
    line-height: 1.4em;
  }
  .jumbotron-slogan h2 {
    right: 30px;
    font-size: 18px;
  }
  .jumbotron-slider__topline:before {
    min-height: 40%;
  }
}
@media (min-width: 1200px) {
  .jumbotron-slogan h1 {
    font-size: 55px;
    line-height: 1.4em;
  }
  .jumbotron-slogan h2 {
    right: 100px;
    font-size: 20px;
  }
  .jumbotron-slider__topline:before {
    min-height: 45%;
  }
}
.description {
  background-color: #ffffff;
}
.description__text p {
  padding-top: 30px;
}
.benifits {
  background-color: #ffffff;
}
.benefits__list-theses .theses__item {
  /* 		&.item-1, &.item-3 {
	float: left;
	width: 415px;
	padding-top: 14px;
	margin: 0px 0 55px 45px;
	text-align: right;
	.clearfix
}

&.item-2 {
	float: right;
	width: 448px;
	padding-top: 14px;
	margin: 145px 0 53px 0px;
	text-align: left;
	.clearfix
}

&.item-4,&.item-5 {
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	margin: 35px 10% 0 10%;
} */
}
.benefits__list-theses .item__title {
  font-weight: bold;
  padding: 20px 0 10px 0;
  font-size: 18px;
  color: #d9534f;
}
section.goods-catalog {
  background-color: #ffffff;
  padding-bottom: 30px;
  min-height: 600px;
}
.goods-catalog__item {
  margin-bottom: 30px;
}
.details__list {
  top: 25%;
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  left: -10px;
  z-index: 2;
  padding: 20px;
}
.details__list_item {
  cursor: pointer;
}
.catalog__item_variants {
  display: inline-block;
  zoom: 1 !ie;
  display: inline !ie;
  vertical-align: top;
  margin: 0 10px 5px 0;
}
.details__item_property {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.goods-catalog__item .item-name {
  margin-top: -10px;
  overflow: hidden;
}
.goods-catalog__item .item-name__main {
  background-color: #d9534f;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  height: 30px;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.goods-catalog__item .item-name__second {
  color: #fff;
  background-color: #f0ad4e;
  padding: 5px;
  height: 30px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'NinaCTT Normal', 'Impact Regular', sans-serif;
}
.goods-catalog__item .item-price {
  margin-bottom: 10px;
  font-family: 'NinaCTT Normal', 'Impact Regular', sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}
.item-price__new,
.item-price__old {
  white-space: nowrap;
}
.goods-catalog__item .item-price__old {
  color: gray;
  text-decoration: line-through;
}
.goods-catalog__item_buy {
  background-color: #d9534f;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  cursor: pointer;
}
footer {
  padding-top: 10px;
  width: 100%;
  color: #3a2315;
  position: relative;
}
.phone-link {
  color: inherit;
}
.phone-link:hover {
  text-decoration: none;
  color: inherit;
}
