.benifits {
	background-color: #ffffff;
}

.benefits__list-theses {

	.item__title {
		font-weight: bold;
		padding: 20px 0 10px 0;
		font-size: 18px;
		color: #d9534f;
	}

	.item__description {

	}

}