section.goods-catalog {
	background-color: #ffffff;
	padding-bottom: 30px;
	min-height: 600px;
}

.goods-catalog__item {
	margin-bottom: 30px;
}

.catalog__item-details {

}

.details__list {
	top: 25%;
	width: 100%;
	height: 50%;
	position: absolute;
	overflow: hidden;
	left: -10px;
	z-index: 2;
	padding: 20px;
}

.details__list_item {
	cursor: pointer;
}

.catalog__item_variants {
	.inlineblock;
	vertical-align: top;
	margin: 0 10px 5px 0;
}

.details__item_property {
	.inlineblock;
}

.goods-catalog__item .item-name {
	margin-top: -10px;
	overflow: hidden;
}

.button-red (@height: 30px) {
	background-color: #d9534f;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	height: @height;
	text-overflow: ellipsis;
	display: inline-block;
	white-space:nowrap;
	overflow: hidden;
}

.button-yellow (@height: 30px) {
	color: #fff;
	background-color: #f0ad4e;
	padding: 5px;
	height: @height;
	display: inline-block;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

.goods-catalog__item .item-name__main {
	.button-red;
}

.goods-catalog__item .item-name__second {
	.button-yellow;
	font-family: 'NinaCTT Normal', 'Impact Regular', sans-serif;

}

.goods-catalog__item .item-price {
	margin-bottom: 10px;
	font-family: 'NinaCTT Normal', 'Impact Regular', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	font-size: 15px;
}

.item-price__new, .item-price__old {
	white-space: nowrap;
}

	

.goods-catalog__item .item-price__old {
	color: gray;
	text-decoration: line-through;
}

.goods-catalog__item_buy {
	.button-red(32px);
	.inlineblock;
	cursor: pointer;
}